<div class="js-new-list">
  <!-- <div class="js-new-name p-1 rounded-sm"></div> -->
  <button
    type="button"
    class="js-list btn btn-light btn-outline-primary btn-sm mr-5 shadow-sm"
    title="Añadir una nueva lista"
  >
    <span class="fas fa-plus"></span>
    Añadir otra lista
  </button>
  <div class="hidden js-create-list p-1 bg-primary rounded-sm  shadow">
    <input class="js-input-name app-list-input form-control form-control-sm" type="text" placeholder="Nueva lista" title="Creat una lista nueva" />
    <div>
      <button class="js-add-btn btn btn-light btn-outline-primary btn-sm  shadow-sm" type="button" title="Crear lista">Añadir lista</button>
      <button class="js-remove-btn btn" type="button" title="Borrar lista">X</button>
    </div>
  </div>
</div>
